<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#000">

    <title>Grafana</title>

		<link href='[[.AppSubUrl]]/public/css/fonts.min.css' rel='stylesheet' type='text/css'>

		[[if .User.LightTheme]]
		  <link rel="stylesheet" href="[[.AppSubUrl]]/public/css/grafana.light.min.8c5cc9be.css">
		[[else]]
		  <link rel="stylesheet" href="[[.AppSubUrl]]/public/css/grafana.dark.min.ae7bca12.css">
		[[end]]

    <link rel="icon" type="image/png" href="[[.AppSubUrl]]/public/img/fav32.png">
    <link rel="mask-icon" href="[[.AppSubUrl]]/public/grafana_mask_icon.svg" color="#F05A28">
		<base href="[[.AppSubUrl]]/" />

	</head>

	<body ng-cloak>
		<grafana-app class="grafana-app">

			<aside class="sidemenu-wrapper">
				<sidemenu ng-if="contextSrv.sidemenu"></sidemenu>
			</aside>

			<div class="page-alert-list">
				<div ng-repeat='alert in dashAlerts.list' class="alert-{{alert.severity}} alert">
					<div class="alert-icon"><i class="{{alert.icon}}"></i></div>
					<div class="alert-body">
						<div class="alert-title">{{alert.title}}</div>
						<div class="alert-text" ng-bind='alert.text'></div>
					</div>
					<button type="button" class="alert-close" ng-click="dashAlerts.clear(alert)">
						<i class="fa fa fa-remove"></i>
					</button>
				</div>
			</div>

			<div ng-view class="main-view"></div>
			<footer class="footer">
				<div class="row text-center">
					<ul>
						<li>
							<a href="http://docs.grafana.org" target="_blank">
								<i class="fa fa-file-code-o"></i>
								Docs
							</a>
						</li>
						<li>
							<a href="https://grafana.com/services/support" target="_blank">
								<i class="fa fa-support"></i>
								Support Plans
							</a>
						</li>
						<li>
							<a href="https://community.grafana.com/" target="_blank">
								<i class="fa fa-comments-o"></i>
								Community
							</a>
						</li>
						<li>
							<a href="https://grafana.com" target="_blank">Grafana</a>
							<span>v[[.BuildVersion]] (commit: [[.BuildCommit]])</span>
						</li>
						[[if .NewGrafanaVersionExists]]
							<li>
								<a href="https://grafana.com/get" target="_blank" bs-tooltip="'[[.NewGrafanaVersion]]'">
									New version available!
								</a>
							</li>
						[[end]]
					</ul>
				</div>
			</footer>
		</grafana-app>

	<script>
		window.grafanaBootData = {
			user:[[.User]],
			settings: [[.Settings]],
			mainNavLinks: [[.MainNavLinks]]
		};
	</script>

	<script src="[[.AppSubUrl]]/public/app/boot.e4836696.js"></script>

	[[if .GoogleTagManagerId]]
		<script>
			dataLayer = [{
				'IsSignedIn': '[[.User.IsSignedIn]]',
				'Email': '[[.User.Email]]',
				'Name': '[[.User.Name]]',
				'UserId': '[[.User.Id]]',
				'OrgId': '[[.User.OrgId]]',
				'OrgName': '[[.User.OrgName]]',
			}];
		</script>
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=[[.GoogleTagManagerId]]" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','[[.GoogleTagManagerId]]');</script>
		<!-- End Google Tag Manager -->
	[[end]]

	</body>
</html>
